{% extends 'base.html' %}
{% block content %}

<div class="container">
  <header class="row">
    <div class="col-12 col-md-6" id="header-text">
      <h2>Help me collect your information</h2>
      <h5>Help developers to create a tool for to collect your information.</h5>
      <div>
        <button class="btn btn-primary">View Our "Documents"</button>
        <button class="btn btn-primary">See Our Legit page</button>
      </div>
    </div>

    <!-- header image here -->
    <div class="col-12 col-md-6">
      <img src="../../static/ pictures/Choose.png" alt="choose" class="header-image">
    </div>
  </header>
  <!-- header section ends -->

  <!-- start of middle section -->

  <section class="row">
    <div class="col-12" id="middle-text">
      <h2>Let us sell and display your information online!</h2>
      <p>With Your help you can receive more span emails and unwanted phone calls</p>
    </div>
  </section>
  <!-- end of middle section -->
  <!-- Start fo Features section -->
  <section class="row" id="features-section">
    <div class="col-12 col-md-4">
      <img src="../../static/ pictures/city_driver.png" alt="city driver" id="city-image">
      <h4>Our cars are not relievable</h4>
      <p>
        You you like old school cars we had those for you!
      </p>
    </div>
    <div class="col-12 col-md-4">
      <img src="../../static/ pictures/Connected.png" alt="connected Image" id="connect-image">
      <h4>Stay connected even when our cars breaks</h4>
      <p>
        If all you want is a car we have cars, even if they are not relievable!
      </p>
    </div>
    <div class="col-12 col-md-4">
      <img src="../../static/ pictures/Map.png" alt="map Image" id="map-image">
      <h4>Our maps are backed by the 1950's technology</h4>
      <p>
        Why rely on technology when you can have a battery free paper map.
      </p>
    </div>
  </section>
  <!-- end of features -->
  <!-- start of community -->
  <section class="row">
    <div class="row div col-12 col-md-6">
      <img src="../../static/ pictures/location.png" alt="Location Image" id="location-image">
    </div>
    <div class="col-12 col-md-6">
      <h4>Talk with the most trusted developers online!</h4>
      <p> You will be able to meet more people in the same
        conditions as you. Our community is the most guarded community
        online.
      </p>
      <div>
        <button class="btn btn-primary">View on kaohon</button>
        <button class="btn btn-primary">Join our spam mail!</button>
      </div>
    </div>
  </section>
  <!-- end of community -->
  <!-- start of footer -->
  <footer class="row" id="footer">
    <div class="col-2 col-md-2">
      <img src="../../static/ pictures/New_entry.png" alt="New entry" id="newentry-logo">
    </div>

    <div class="col-2 col-md-2">
      <div class="footer-text-flex">
        <h4>Get to know our lies</h4>
        <p>why sell your info?</p>
        <p>The car inventory Project</p>
        <p>We need money</p>
        <p>Involve other people</p>
        <p>Our proccess</p>

      </div>
    </div>

  </footer>
</div>



{% endblock content %}